<app-home welcomeMessage="Welcome the the Reservation guest list!"></app-home>
<div class="container">
  <h2>Reservation List</h2>

  <ul *ngIf="reservations.length; else noReservations" class="list-unstyled">
    <li
      *ngFor="let reservation of reservations"
      class="mb-3 p-2 border rounded"
    >
      <strong>Guest:</strong> {{ reservation.guestName }} <br />
      <strong>Email:</strong> {{ reservation.guestEmail }} <br />
      <strong>Room No.:</strong> {{ reservation.roomNumber }} <br />
      <strong>Check-In:</strong> {{ reservation.checkInDate }} <br />
      <strong>Check-Out:</strong> {{ reservation.checkOutDate }} <br />
      <button
        (click)="deleteReservation(reservation.id)"
        class="btn btn-danger mt-2"
        style="margin-right: 10px"
      >
        Delete
      </button>
      <button
        [routerLink]="['/edit', reservation.id]"
        class="btn btn-primary mt-2"
      >
        Edit
      </button>
    </li>
  </ul>

  <ng-template #noReservations> <p>No reservations found.</p> </ng-template>
</div>
